# env
.env
.env.*   # allow .env.example to be tracked if you want

# dependencies
node_modules/

# next.js
.next/
out/

# vercel
.vercel/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
